<template>
  <v-container>
    <div class="display-1 text-center font-weight-regular">
      ANADIR PRODUCTO
    </div>
    <v-form
      @submit.prevent="addProduct"
      id="formAddProduct"
      ref="formAddProduct"
    >
      <v-container class="d-flex mt-8">
        <v-card
          :max-height="!added ? '200px' : ''"
          :min-height="!added ? '200px' : '200px'"
          :min-width="!added ? '200px' : '200px'"
          color="#E5E5E5"
          class="ml-auto mr-3 pa-0"
          aspect-ratio="1"
          flat
        >
          <vue-dropzone
            ref="myVueDropzone"
            id="dropzone"
            :options="dropzoneOptions"
            @vdropzone-file-added="addFile"
            class="customdropzone ma-0 pa-0"
            :useCustomSlot="true"
          >
            <v-container
              align="center"
              justify="center"
              class="fill-height d-flex dropzone-custom-content"
            >
              <v-icon class="mx-auto" color="#C8C8C8" size="40">
                mdi-image-plus
              </v-icon>
            </v-container>
          </vue-dropzone>
        </v-card>
        <v-sheet class="mx-1 pa-0">
          <v-container class="pa-0">
            <div class="text-center font-weight-regular mb-2">
              NOMBRE DEL PRODUCTO
            </div>
            <v-text-field
              dense
              color="grey"
              label="Ingresar Nombre"
              name="nombre"
              single-line
              outlined
              rounded
              :rules="nameRules"
              required
            ></v-text-field>
          </v-container>
          <v-container>
            <div class="text-center font-weight-regular mb-0">
              PRECIO DEL PRODUCTO
            </div>
            <v-row>
              <v-spacer></v-spacer>
              <v-col md="8">
                <v-text-field
                  dense
                  type="number"
                  color="grey"
                  label="Precio"
                  name="precio"
                  prefix="$"
                  single-line
                  outlined
                  rounded
                  :rules="priceRules"
                  required
                ></v-text-field>
              </v-col>
              <v-spacer></v-spacer>
            </v-row>
          </v-container>
        </v-sheet>
        <v-sheet class="mr-auto ml-3" min-width="300px">
          <div class="text-center font-weight-regular mb-2">
            DESCRIPCION DEL PRODUCTO
          </div>
          <v-textarea
            dense
            full-width
            rounded
            color="grey"
            label="Ingrese la descripcion"
            name="descripcion"
            outlined
            required
            :rules="descriptionRules"
          ></v-textarea>
        </v-sheet>
      </v-container>
      <v-container class="d-flex">
        <v-btn color="#C11011" class="mx-auto" type="submit" dark rounded>
          Añadir Producto
        </v-btn>
      </v-container>
    </v-form>
    <v-snackbar
      :timeout="2000"
      v-model="snackbarAdded"
      color="green"
      elevation="24"
      dark
      class="text-center"
    >
      <h2 class="text-center">
        Producto Añadido
      </h2>
    </v-snackbar>
  </v-container>
</template>
<script>
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
export default {
  name: "Add",
  components: {
    vueDropzone: vue2Dropzone
  },
  data() {
    return {
      dropzoneOptions: {
        url: "https://httpbin.org/post",
        thumbnailWidth: 200,
        maxFilesize: 5,
        maxFiles: 1,
        headers: { "My-Awesome-Header": "header value" },
        autoProcessQueue: false
      },
      snackbarAdded: false,
      added: false,
      nameRules: [
        name => !!name || "Este campo es obligatorio",
        name => (name && name.length <= 15) || "El nombre es demasiado largo"
      ],
      descriptionRules: [
        description => !!description || "Este campo es obligatorio",
        description =>
          (description && description.length <= 30) ||
          "La descripcion es demasiado larga"
      ],
      priceRules: [
        price => !!price || "Este campo es obligatorio",
        price => (price && price.length <= 6) || "Cifra máxima excedida"
      ]
    };
  },
  methods: {
    addProduct() {
      this.$refs.form;
      console.log("Submit Prevent");
      let attachments = this.$refs.myVueDropzone.dropzone.files.map(element => {
        return [
          // Returns a tuple (Array) with the filename as the key and the type and data as contents
          `${element.name}`,
          { content_type: element.type, data: element }
        ];
      });
      console.log(attachments);
      // Converts the array to an object that is saved in couchdb
      attachments = Object.fromEntries(attachments);
      var formData = new FormData(this.$refs.formAddProduct.$el);
      var form = Object.fromEntries(formData.entries());
      form = { ...form, _attachments: { ...attachments } };
      console.log(form);
      this.$pouch
        .post(form, {}, "productos")
        .then(response => {
          console.log("Resolved");
          console.log(response);
        })
        .catch(err => {
          console.error("=======================Error====================");
          console.error(err);
        });

      this.productAdded();
      /* AJAX request */
    },
    addFile(file) {
      console.log(this.$refs.myVueDropzone.getQueuedFiles());
      console.log(file);
      this.added = true;
      window.setTimeout(() => {
        // This marks the image as uploaded so it does not stay with the progress bar all the time
        file.status = "success";
        this.$refs.myVueDropzone.dropzone.emit("processing", file);
        this.$refs.myVueDropzone.dropzone.emit("complete", file);
        console.log(this.$refs.myVueDropzone.getQueuedFiles());
      }, 1000);

      //this.$refs.myVueDropzone.
    },
    productAdded() {
      this.$refs.myVueDropzone.removeAllFiles();
      this.$refs.formAddProduct.reset();
      this.snackbarAdded = true;
    }
  }
  // mounted() {
  //   this.$pouch.connect(
  //     "admin",
  //     "Mexico+1!",
  //     "https://db.keycode.solutions:6984/productos"
  //   );
  //   this.$pouch.sync(
  //     "productos",
  //     "https://db.keycode.solutions:6984/productos"
  //   );
  // }
};
</script>
<style scoped>
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.customdropzone {
  background-color: transparent;
  height: 200px;
  padding: 0px;
}
.dropzone-custom-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>
