<template>
  <div class="pa-0">
    <v-app-bar color="#548362" dark>
      <v-container class="d-flex pa-0">
        <v-btn @click="$router.go(-1)" large class="" icon
          ><v-icon>mdi-chevron-left</v-icon></v-btn
        >
        <div class=" display-1 font-weight-light mx-auto">
          PRODUCTO
          <strong class="black--text">
            {{ productId }}
          </strong>
          EN REVISION
        </div>
      </v-container>
    </v-app-bar>
    <v-container class="pa-0" v-if="productWinner">
      <h2 class="font-weight-light mt-5">
        REVISIONES
      </h2>

      <RevProdDesign
        class="scrollmenu"
        v-for="(revision, index) in productWinner._conflicts"
        :key="index"
        :revProd="revision"
        @rev-checked="changeWinner"
        :prodWinner="productWinner"
      />

      <h2 class="font-weight-regular greenColor text-center mt-9">
        GANADOR
        <br />
      </h2>
      <v-container class="d-flex">
        <ProdWinner class="mx-auto" :product="productWinner" />
      </v-container>
      <v-container class="d-flex">
        <v-btn
          class=" mx-auto py-0 "
          color="#c11011"
          large
          dense
          rounded
          dark
          @click="aceptarRevision"
        >
          Aceptar revision
        </v-btn>
      </v-container>
    </v-container>
  </div>
</template>

<script>
import ProdWinner from "@/components/ProdWinner.vue";
import RevProdDesign from "@/components/RevProdDesign.vue";
export default {
  name: "CheckRevision",
  props: ["id"],
  components: { ProdWinner, RevProdDesign },
  data() {
    return {
      productWinner: undefined
    };
  },
  computed: {
    productId() {
      if (this.productWinner) {
        return this.productWinner._id.substring(
          0,
          this.productWinner._id.indexOf("-")
        );
      }
      return "";
    }
  },
  methods: {
    changeWinner(prodWinner) {
      this.productWinner = prodWinner;
    },
    aceptarRevision() {
      // Eliminamos Revisiones
      this.productWinner._conflicts.forEach(revision => {
        this.$pouch
          .remove(
            { _id: this.productWinner._id, _rev: revision },
            {},
            "productos"
          )
          .then(result => {
            console.log(result);
          })
          .catch(error => {
            console.log(
              "===============================Erorr Query=========================="
            );
            console.log(error);
          });
      });
      // Actualizamos Producto
      this.$pouch
        .put(this.productWinner, {}, "productos")
        .then(result => {
          console.log("Resolved");
          console.log(result);
          this.$router.push("/revisiones");
        })
        .catch(function(err) {
          console.log(err);
        });
    }
    // enlkfna(){
    //   productWinner = nuevo;
    //   pouch.put
    // }
  },
  mounted() {
    this.$pouch
      .get(
        this.id,
        { conflicts: true, attachments: true, binary: true },
        "productos"
      )
      .then(result => {
        console.log(
          "========================Success query============================="
        );
        this.productWinner = result;
        console.log(result);
      })
      .catch(error => {
        console.log(
          "===============================Erorr Query=========================="
        );
        console.log(error);
      });
  }
};
</script>
<style scoped>
.greyColor {
  background-color: #e5e5e5;
}
.red {
  background-color: #c11011;
}
.greenColor {
  color: #56674a;
}
.brown {
  color: #a1a18b;
}

.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}
</style>
