<template>
  <v-container class="todos">
    <v-container class="d-flex pa-0">
      <div class="display-1 font-weight-bold mb-5 mr-auto">
        PRODUCTOS
      </div>
      <v-sheet class="ml-auto" flat>
        <v-text-field
          dense
          prepend-inner-icon="mdi-magnify"
          color="#56674A"
          label="Buscar..."
          single-line
          outlined
          rounded
        ></v-text-field>
      </v-sheet>
    </v-container>

    <v-row>
      <!-- {{ producto }} -->
      <v-col v-for="(producto, index) in productos" :key="index" lg="3">
        <ProductCardDesign
          :product="producto"
          @product-deleted="deleted"
          @product-modified="modified"
        />
      </v-col>
      <!-- <input
        v-model="producto.message"
        @change="$pouch.put(producto, {}, 'productos')"
      />
      <button @click="$pouch.remove(producto, {}, 'productos')">Remove</button> -->
    </v-row>

    <v-snackbar
      :timeout="2000"
      v-model="snackbarDeleted"
      color="red darken-2"
      elevation="24"
      dark
      class="text-center"
    >
      <h2 class="text-center ">
        Producto Eliminado
      </h2>
    </v-snackbar>
    <v-snackbar
      :timeout="2000"
      v-model="snackbarModified"
      color="green"
      elevation="24"
      dark
      class="text-center"
    >
      <h2 class="text-center ">
        Producto Modificado
      </h2>
    </v-snackbar>
  </v-container>
</template>

<script>
import ProductCardDesign from "@/components/ProductCardDesign.vue";
export default {
  name: "Home",
  components: { ProductCardDesign },
  data() {
    return {
      nombre: "",
      precio: "",
      descripcion: "",
      snackbarDeleted: false,
      snackbarModified: false,
      resp: "",
      productos: undefined
    };
  },
  methods: {
    deleted() {
      this.snackbarDeleted = true;
    },
    modified() {
      this.snackbarModified = true;
    }
  },
  mounted() {
    this.productos = this.$pouch
      .allDocs({ attachments: true, binary: true }, "productos")
      .then(response => {
        console.log(response);
        this.productos = response.rows.map(el => el.doc);
      })
      .catch(error => {
        console.error("All docs");
        console.error(error);
      });
  }
};
</script>
