<template>
  <v-container v-if="conflictedProducts">
    <div class="display-1 font-weight-bold mb-5 text-center mr-auto">
      REVISIONES
    </div>

    <v-alert outlined type="success" text v-if="conflictedProducts.length == 0">
      Genial! No se encontraron <strong>conflictos</strong> sin resolver.
    </v-alert>
    <v-container v-if="conflictedProducts.length != 0">
      <v-row>
        <!-- {{ producto }} -->

        <v-col
          v-for="(product, index) in conflictedProducts"
          :key="index"
          lg="4"
        >
          <ConflictCardDesign :product="product" />
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>
<script>
import ConflictCardDesign from "@/components/ConflictCardDesign.vue";
export default {
  data() {
    return {
      conflictedProducts: undefined
    };
  },
  components: { ConflictCardDesign },
  mounted() {
    this.$pouch
      .allDocs(
        { conflicts: true, attachments: true, binary: true },
        "productos"
      )
      .then(response => {
        let allProducts = response.rows.map(el => el.doc);
        this.conflictedProducts = allProducts.filter(
          product => product._conflicts != undefined
        );
      })
      .catch(error => {
        console.log(error);
      });
  }
};
</script>
