<template>
  <v-card class="d-flex" min-height="100px" :to="'/revision/' + product._id">
    <v-responsive aspect-ratio="1" class="mr-auto">
      <v-card class="backgroundImage">
        <v-img
          :src="image"
          aspect-ratio="1"
          max-height="100%"
          max-width="100%"
        />
      </v-card>
    </v-responsive>

    <v-card flat min-width="40%" max-width="40%">
      <v-row align-content="center" class="fill-height">
        <v-col>
          <h4 class="font-weight-regular name text-center mb-2">
            {{ product.nombre.toUpperCase() }}
          </h4>
          <h6 class="font-weight-regular mt-1 price text-center">
            Id Producto:
          </h6>
          <h4 class="font-weight-regular text-center">
            {{ productId }}
          </h4>
        </v-col>
      </v-row>
    </v-card>

    <v-responsive
      aspect-ratio="1"
      class="ml-auto"
      min-width="30%"
      max-width="30%"
    >
      <v-card class="fill-height backgroundConflict" flat>
        <v-row align-content="center" class="fill-height">
          <v-col>
            <h5 class="font-weight-regular text-center mb-2">
              CONFLICTOS
            </h5>
            <h2 class="font-weight-regular white--text text-center">
              {{ product._conflicts.length }}
            </h2>
          </v-col>
        </v-row>
      </v-card>
    </v-responsive>
  </v-card>
</template>
<script>
export default {
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  data() {
    return {};
  },
  computed: {
    image() {
      if (this.images !== undefined) {
        return this.$URL.createObjectURL(this.images[0].data);
      }
      return undefined;
    },
    productId() {
      if (this.product._id) {
        return this.product._id.substring(0, this.product._id.indexOf("-"));
      }
      return "";
    },
    images() {
      let attachments = this.product._attachments;
      let array = undefined;
      if (attachments !== undefined) {
        array = Object.keys(attachments).map(value => {
          return { name: value, ...attachments[value] };
        });
      }
      return array;
    }
  }
};
</script>
<style scoped>
.backgroundImage {
  background-color: #e5e5e5;
}
.backgroundConflict {
  background-color: #c11011;
}
.name {
  color: #56674a;
}
.price {
  color: #a1a18b;
}
</style>
