<template>
  <v-card class="mx-auto" min-width="500px" min-height="650px">
    <h4 class="greenColor text-center pt-2 font-weight-light">
      PRODUCTO <strong class="black--text"> {{ productId }}</strong>
    </h4>
    <v-card-text>
      <!-- ---------------------------------------------- -->
      <v-container class="d-flex">
        <v-card flat width="140px" height="140px" class="mx-auto greyColor">
          <v-img :src="image" max-height="100%" max-width="100%" />
        </v-card>
        <v-card flat width="140px" height="140px" class="mx-auto greyColor">
          <v-img :src="image" max-height="100%" max-width="100%" />
        </v-card>
      </v-container>

      <!-- ---------------------------------------------- -->
      <div class="text-center font-weight-regular mt-2">
        <strong> NOMBRE DEL PRODUCTO </strong>
      </div>
      <v-container class="d-flex">
        <v-card
          min-width="100px"
          min-height="35px"
          :class="
            (selectedName
              ? selectedName == 1
                ? 'selected'
                : 'unselected'
              : 'grey--text') + ' mx-auto rounded-pill px-2'
          "
          :color="
            selectedName ? (selectedName == 1 ? colorGreen : colorRed) : ''
          "
          @click="selectedName = 1"
          outlined
          :dark="selectedName == 0 ? false : true"
        >
          <v-container
            align="center"
            justify="center"
            class="fill-height d-flex pa-0"
          >
            <div class="mx-auto">{{ product.nombre }}</div>
          </v-container>
        </v-card>
        <v-card
          min-width="100px"
          min-height="35px"
          :class="
            (selectedName
              ? selectedName == 2
                ? 'selected'
                : 'unselected'
              : 'grey--text') + ' mx-auto rounded-pill px-2'
          "
          :color="
            selectedName ? (selectedName == 2 ? colorGreen : colorRed) : ''
          "
          @click="selectedName = 2"
          outlined
          :dark="selectedName == 0 ? false : true"
        >
          <v-container
            align="center"
            justify="center"
            class="fill-height d-flex pa-0"
          >
            <div class="mx-auto">{{ prodWinner.nombre }}</div>
          </v-container>
        </v-card>
      </v-container>
      <!-- ------------------------------------------------ -->
      <div class="text-center font-weight-regular mt-2">
        <strong> PRECIO DEL PRODUCTO </strong>
      </div>
      <v-container class="d-flex">
        <v-card
          width="100px"
          height="35px"
          :class="
            (selectedPrice
              ? selectedPrice == 1
                ? 'selected'
                : 'unselected'
              : 'grey--text') + ' mx-auto rounded-pill'
          "
          :color="
            selectedPrice ? (selectedPrice == 1 ? colorGreen : colorRed) : ''
          "
          @click="selectedPrice = 1"
          outlined
          :dark="selectedPrice == 0 ? false : true"
        >
          <v-container
            align="center"
            justify="center"
            class="fill-height d-flex pa-0"
          >
            <div class="mx-auto">${{ product.precio }}</div>
          </v-container>
        </v-card>
        <v-card
          width="100px"
          height="35px"
          :class="
            (selectedPrice
              ? selectedPrice == 2
                ? 'selected'
                : 'unselected'
              : 'grey--text') + ' mx-auto rounded-pill'
          "
          :color="
            selectedPrice ? (selectedPrice == 2 ? colorGreen : colorRed) : ''
          "
          @click="selectedPrice = 2"
          outlined
          :dark="selectedPrice == 0 ? false : true"
        >
          <v-container
            align="center"
            justify="center"
            class="fill-height d-flex pa-0"
          >
            <div class="mx-auto">${{ prodWinner.precio }}</div>
          </v-container>
        </v-card>
      </v-container>
      <!-- ------------------------------------------------ -->
      <div class="text-center font-weight-regular mt-2 ">
        <strong> DESCRIPCION DEL PRODUCTO </strong>
      </div>
      <v-container class="d-flex">
        <v-card
          min-width="200px"
          max-width="200px"
          min-height="100px"
          :class="
            (selectedDesc
              ? selectedDesc == 1
                ? 'selected'
                : 'unselected'
              : 'grey--text') + ' mx-auto py-1 px-2'
          "
          :color="
            selectedDesc ? (selectedDesc == 1 ? colorGreen : colorRed) : ''
          "
          @click="selectedDesc = 1"
          outlined
          :dark="selectedDesc == 0 ? false : true"
        >
          {{ product.descripcion }}
        </v-card>
        <v-card
          min-width="200px"
          max-width="200px"
          min-height="100px"
          :class="
            (selectedDesc
              ? selectedDesc == 2
                ? 'selected'
                : 'unselected'
              : 'grey--text') + ' mx-auto py-1 px-2'
          "
          :color="
            selectedDesc ? (selectedDesc == 2 ? colorGreen : colorRed) : ''
          "
          @click="selectedDesc = 2"
          outlined
          :dark="selectedDesc == 0 ? false : true"
        >
          {{ prodWinner.descripcion }}
        </v-card>
      </v-container>
      <!-- ---------------------Actions------------------------>
      <v-card-actions>
        <v-container class="d-flex">
          <v-btn
            width="150px"
            class="mx-auto"
            color="grey "
            @click="CloseDialog()"
            rounded
            dark
          >
            CANCELAR
          </v-btn>
          <v-btn
            width="150px"
            class="mx-auto"
            :color="colorBrown"
            @click="Aceptar()"
            rounded
          >
            ACEPTAR
          </v-btn>
        </v-container>
      </v-card-actions>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  props: {
    product: {
      type: Object,
      required: true
    },
    prodWinner: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      //
      colorGreen: "#56674a",
      colorRed: "#c11011",
      colorBrown: "#a1a18b",
      selectedName: 2,
      selectedPrice: 2,
      selectedDesc: 2
    };
  },
  methods: {
    Aceptar() {
      if (this.selectedName == 1) {
        this.prodWinner.nombre = this.product.nombre;
      }
      if (this.selectedPrice == 1) {
        this.prodWinner.precio = this.product.precio;
      }
      if (this.selectedDesc == 1) {
        this.prodWinner.descripcion = this.product.descripcion;
      }

      this.$emit("rev-checked", this.prodWinner);
      this.CloseDialog();
    },
    CloseDialog() {
      this.$emit("close-dialog");
    }
  },
  computed: {
    image() {
      if (this.images !== undefined) {
        return this.$URL.createObjectURL(this.images[0].data);
      }
      return undefined;
    },
    productId() {
      if (this.product._id) {
        return this.product._id.substring(0, this.product._id.indexOf("-"));
      }
      return "";
    },
    images() {
      let attachments = this.product._attachments;
      let array = undefined;
      if (attachments !== undefined) {
        array = Object.keys(attachments).map(value => {
          return { name: value, ...attachments[value] };
        });
      }
      return array;
    }
  },
  mounted() {
    //
    this.product.nombre == this.prodWinner.nombre
      ? (this.selectedName = 0)
      : (this.selectedName = 2);
    this.product.precio == this.prodWinner.precio
      ? (this.selectedPrice = 0)
      : (this.selectedPrice = 2);
    this.product.descripcion == this.prodWinner.descripcion
      ? (this.selectedDesc = 0)
      : (this.selectedDesc = 2);

    console.log(this.product);
    console.log(this.prodWinner);
  }
};
</script>
<style scoped>
.greyColor {
  background-color: #e5e5e5;
}
.red {
  background-color: #c11011;
}
.greenColor {
  color: #56674a;
}
.brown {
  color: #a1a18b;
}
.selected {
  -moz-box-shadow: inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow: inset 0 0 5px #000000;
}
.unselected {
  -moz-box-shadow: 0 2px 5px #000000;
  -webkit-box-shadow: 0 2px 5px #000000;
  box-shadow: 0 2px 5px #000000;
}
</style>
