<template>
  <v-card min-height="100px">
    <v-container class="d-flex">
      <v-responsive aspect-ratio="1/1">
        <v-card
          class="mx-auto backgroundCard"
          min-width="200px"
          max-width="200px"
          min-height="200px"
          max-height="200px"
        >
          <v-img :src="image" />
        </v-card>
      </v-responsive>
    </v-container>
    <div class="text-center font-weight-regular mb-2">
      NOMBRE
    </div>

    <v-row no-gutters>
      <v-spacer></v-spacer>
      <v-col md="6">
        <v-text-field
          dense
          color="grey"
          label="Ingresar Nombre"
          name="nombre"
          v-model="tempProduct.nombre"
          single-line
          outlined
          rounded
        ></v-text-field>
      </v-col>
      <v-spacer></v-spacer>
    </v-row>
    <div class="text-center font-weight-regular mb-2">
      PRECIO
    </div>
    <v-container class="d-flex pt-0">
      <v-row no-gutters>
        <v-spacer></v-spacer>
        <v-col md="4">
          <v-text-field
            dense
            v-model="tempProduct.precio"
            type="number"
            color="grey"
            label="Precio"
            name="precio"
            single-line
            outlined
            rounded
          ></v-text-field>
        </v-col>
        <v-spacer></v-spacer>
      </v-row>
    </v-container>
    <div class="text-center font-weight-regular mb-2">
      DESCRIPCION DEL PRODUCTO
    </div>
    <v-container class="d-flex pt-0">
      <v-textarea
        dense
        full-width
        v-model="tempProduct.descripcion"
        rounded
        color="grey"
        label="Ingrese la descripcion"
        name="descripcion"
        outlined
      ></v-textarea>
    </v-container>
    <v-container class="d-flex">
      <v-btn
        color="#C11011"
        class="mr-auto"
        @click="alertDialog = true"
        rounded
        depressed
        dark
        >eliminar</v-btn
      >

      <v-btn
        color="#E5E5E5"
        class="mx-2"
        rounded
        depressed
        dark
        @click="closeDialog()"
        >cancelar</v-btn
      >
      <v-btn
        color="#548362"
        class="mx-2"
        rounded
        depressed
        dark
        @click="editarProd()"
        >guardar</v-btn
      >
    </v-container>

    <v-dialog v-model="alertDialog" max-width="500">
      <v-card>
        <v-card-title class="headline"
          >Seguro que quieres eliminar el producto?</v-card-title
        >

        <v-card-text>
          Se eliminara definitivamente de la tienda.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="grey darken-3" text @click="alertDialog = false">
            Cancelar
          </v-btn>

          <v-btn color="red darken-1" text @click="eliminarProd()">
            Eliminar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>
<script>
export default {
  props: {
    product: {
      type: Object,
      required: true
    },
    image: {
      type: URL
    }
  },
  data() {
    return {
      alertDialog: false,
      tempProduct: {
        nombre: "",
        precio: 0,
        descripcion: ""
      }
    };
  },
  methods: {
    eliminarProd() {
      console.log("Boton Eliminar");
      this.$pouch
        .remove(this.product, {}, "productos")
        .then(result => {
          console.log("Resolved");
          console.log(result);
          this.alertDialog = false;
          this.productDeleted();
          this.closeDialog();
        })
        .catch(function(err) {
          console.log(err);
        });
    },
    editarProd() {
      this.product.nombre = this.tempProduct.nombre;
      this.product.precio = this.tempProduct.precio;
      this.product.descripcion = this.tempProduct.descripcion;
      this.$pouch
        .put(this.product, { force: true }, "productos")
        .then(result => {
          console.log("Resolved");
          console.log(result);
          this.productModified();
          this.closeDialog();
        })
        .catch(function(err) {
          console.log(err);
        });
    },
    closeDialog() {
      this.$emit("close-dialog");
    },
    productDeleted() {
      this.$emit("product-deleted");
    },
    productModified() {
      this.$emit("product-modified");
    }
  },
  mounted() {
    this.tempProduct.nombre = this.product.nombre;
    this.tempProduct.precio = this.product.precio;
    this.tempProduct.descripcion = this.product.descripcion;
  }
};
</script>
<style scoped>
.backgroundCard {
  background-color: #e5e5e5;
}
.name {
  color: #56674a;
}
.price {
  color: #a1a18b;
}
</style>
