<template>
  <v-container justify="start" align="center" class="pa-0" fluid>
    <v-app-bar
      app
      color="#548362"
      flat
      dark
      v-if="$route.name != 'CheckRevision'"
    >
      <template v-slot:img="{ props }">
        <v-img
          v-bind="props"
          gradient="to top right, rgba(19,84,122,.5), rgba(128,208,199,.8)"
        ></v-img>
      </template>
      <v-container class="d-flex">
        <v-card min-height="10px" color="#0B1210" min-width="15px" class="mx-1">
        </v-card>
        <v-card min-height="10px" color="#56674A" min-width="15px" class="mx-1">
        </v-card>
        <v-card min-height="10px" color="#CDCDB1" min-width="15px" class="mx-1">
        </v-card>
        <v-card min-height="10px" color="#548362" min-width="15px" class="mx-1">
        </v-card>
        <v-card min-height="10px" color="#C11011" min-width="15px" class="mx-1">
        </v-card>

        <h1 class="font-weight-light ml-2 ">
          CouchDB Store
        </h1>
      </v-container>
      <v-spacer></v-spacer>
      <v-container class="d-flex" align-content="center">
        <v-btn
          class="ml-auto"
          v-if="$route.name == 'Home'"
          outlined
          rounded
          color="#56674A"
        >
          <v-icon size="20" color="white">mdi-home-variant</v-icon>
          <div class="white--text font-weight-light ml-2 ">
            Home
          </div>
        </v-btn>
        <v-btn
          class="ml-auto"
          v-else
          rounded
          color="#56674A"
          to="/"
          @click="$route.name = 'Home'"
          depressed
        >
          <v-icon size="20" color="white">mdi-home-variant</v-icon>
        </v-btn>

        <v-btn
          class="mx-2"
          v-if="$route.name == 'Add'"
          outlined
          rounded
          color="#56674A"
        >
          <v-icon size="20" color="white">mdi-database-plus</v-icon>
          <div class="white--text font-weight-light ml-2 ">
            Añadir
          </div>
        </v-btn>
        <v-btn
          class="mx-2"
          color="#56674A"
          rounded
          @click="$route.name = 'Add'"
          v-else
          to="/add"
          depressed
        >
          <v-icon size="20" color="white">mdi-database-plus</v-icon>
        </v-btn>

        <v-btn
          class="mr-auto"
          v-if="$route.name == 'Revisiones'"
          outlined
          rounded
          color="#56674A"
        >
          <v-icon size="20" color="white">mdi-sitemap</v-icon>
          <div class="white--text font-weight-light ml-2 ">
            Revisiones
          </div>
        </v-btn>
        <v-btn
          class="mr-auto"
          v-else
          rounded
          to="/revisiones"
          color="#56674A"
          @click="$route.name = 'Revisiones'"
          depressed
        >
          <v-icon size="20" color="white">mdi-sitemap</v-icon>
        </v-btn>
        <v-switch
          v-model="switch1"
          class="ml-auto"
          inset
          @change="changeStatus()"
          :label="`Online: ${switch1.toString()}`"
        ></v-switch>
      </v-container>
    </v-app-bar>
    <v-content>
      <v-container class="pa-0" fluid>
        <slot></slot>
      </v-container>
    </v-content>
  </v-container>
</template>

<script>
export default {
  name: "Layout",
  data() {
    return {
      switch1: true
    };
  },
  methods: {
    changeStatus() {
      this.switch1 ? this.connect() : this.disconnect();
    },
    disconnect() {
      this.$pouch.disconnect("https://db.keycode.solutions:6984/productos");
    },
    connect() {
      this.$pouch.connect(
        "admin",
        "Mexico+1!",
        "https://db.keycode.solutions:6984/productos"
      );
    }
  }
};
</script>
