<template>
  <v-card class="d-flex pa-3" min-width="70%">
    <v-card
      class="fill-height greyColor mr-auto"
      max-width="25%"
      min-width="25%"
      flat
      ><v-img
        :src="image"
        max-width="100%"
        max-height="100%"
        aspect-ratio="1"
      />
    </v-card>
    <v-container>
      <v-container class="d-flex">
        <v-card flat class="mr-auto pa-0">
          <h5 class="grey--text font-weight-light">NOMBRE</h5>
          <h3 class="font-weight-regular">
            {{ product.nombre }}
          </h3>
        </v-card>
        <v-card flat class="ml-auto mr-8 pa-0">
          <h5 class="grey--text font-weight-light">PRECIO</h5>
          <h3 class="font-weight-regular">${{ product.precio }}</h3>
        </v-card>
        <v-card flat class="pa-0">
          <h5 class="grey--text font-weight-light text-center">ID</h5>
          <h3 class="font-weight-regular">
            {{ productId }}
          </h3>
        </v-card>
      </v-container>
      <br />
      <v-card class="d-flex ml-3" flat>
        <v-card flat class="mr-auto pa-0">
          <h5 class="grey--text font-weight-light">DESCRIPCION</h5>
          <h3 class="font-weight-regular">{{ product.descripcion }}</h3>
        </v-card>
      </v-card>
    </v-container>
  </v-card>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  data() {
    return {};
  },
  computed: {
    image() {
      if (this.images !== undefined) {
        return this.$URL.createObjectURL(this.images[0].data);
      }
      return undefined;
    },
    productId() {
      if (this.product._id) {
        return this.product._id.substring(0, this.product._id.indexOf("-"));
      }
      return "";
    },
    images() {
      let attachments = this.product._attachments;
      let array = undefined;
      if (attachments !== undefined) {
        array = Object.keys(attachments).map(value => {
          return { name: value, ...attachments[value] };
        });
      }
      return array;
    }
  },
  mounted() {}
};
</script>
<style scoped>
.greyColor {
  background-color: #e5e5e5;
}
.red {
  background-color: #c11011;
}
.green {
  color: #56674a;
}
.brown {
  color: #a1a18b;
}
</style>
