<template>
  <v-card flat>
    <v-responsive aspect-ratio="1">
      <v-card class="fill-height backgroundCard">
        <v-img
          :src="image"
          aspect-ratio="1"
          max-height="100%"
          max-width="100%"
        />
      </v-card>
    </v-responsive>
    <h2 class="font-weight-regular name">
      {{ product.nombre.toUpperCase() }}
    </h2>
    <v-container class="d-flex pa-0">
      <h3 class="font-weight-light price">${{ product.precio }}</h3>
      <v-dialog v-model="dialog" max-width="35%">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="#56674A"
            class="ml-auto"
            v-bind="attrs"
            v-on="on"
            small
            dense
            dark
            >Editar</v-btn
          >
        </template>
        <EditProductPage
          :product="product"
          :image="image"
          @close-dialog="closeDialog"
          @product-deleted="ProductDeleted"
          @product-modified="ProductModified"
        />
      </v-dialog>
    </v-container>
  </v-card>
</template>
<script>
import EditProductPage from "@/components/EditProductPage.vue";
export default {
  components: {
    EditProductPage
  },
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  name: "ProductCardDesign",
  data() {
    return {
      dialog: false
    };
  },
  computed: {
    image() {
      if (this.images !== undefined) {
        return this.$URL.createObjectURL(this.images[0].data);
      }
      return undefined;
    },
    images() {
      let attachments = this.product._attachments;
      let array = undefined;
      if (attachments !== undefined) {
        array = Object.keys(attachments).map(value => {
          return { name: value, ...attachments[value] };
        });
      }
      return array;
    }
  },
  methods: {
    closeDialog() {
      this.dialog = false;
    },
    ProductDeleted() {
      this.$emit("product-deleted");
    },
    ProductModified() {
      this.$emit("product-modified");
    }
  }
};
</script>
<style scoped>
.backgroundCard {
  background-color: #e5e5e5;
}
.name {
  color: #56674a;
}
.price {
  color: #a1a18b;
}
</style>
