<template>
  <v-dialog v-model="dialog" max-width="35%">
    <template v-slot:activator="{ on, attrs }" v-if="show">
      <v-badge
        color="#c11011"
        large
        relative
        :content="contDiff"
        :value="contDiff"
        class="mt-3 mr-7"
      >
        <v-card v-bind="attrs" v-on="on" min-width="300px" max-width="300px">
          <v-card class="d-flex" flat>
            <v-card
              class="mr-auto fill-height backgroundCard"
              min-width="35%"
              flat
            >
              <v-img aspect-ratio="1" :src="image" />
            </v-card>
            <v-card flat class="mr-auto mt-3 pa-0">
              <h6 class="grey--text text-center font-weight-light">NOMBRE</h6>
              <h3 class="font-weight-regular mt-1 text-center">
                {{ product.nombre }}
              </h3>
              <h6 class="grey--text text-center font-weight-light mt-4">
                PRECIO
              </h6>
              <h3 class="font-weight-regular mt-1 text-center">
                ${{ product.precio }}
              </h3>
            </v-card>
          </v-card>
          <v-card flat class="pa-2">
            <h6 class="grey--text font-weight-light mt-4">
              DESCRIPCION
            </h6>
            <h5 class="font-weight-regular mt-2">
              {{ product.descripcion }}
            </h5>
          </v-card>
          <v-card flat class="pa-2 d-flex">
            <h6 class="name font-weight-regular ml-auto mt-4">
              Resolver Conflictos
              <v-icon size="14">mdi-chevron-right</v-icon>
            </h6>
          </v-card>
        </v-card>
      </v-badge>
    </template>
    <!-- se manda product y prodWinner -->
    <ConflictRevDialog
      :product="product"
      :prodWinner="prodWinner"
      @rev-checked="Aceptado"
      @close-dialog="CloseDialog"
    />
    <!-- Se llama al componente para mostrar en el dialogo -->
  </v-dialog>
  <!-- <DialogRevision product= winner= @on-accepted="Aceptado" /> -->
</template>

<script>
import ConflictRevDialog from "@/components/ConflictRevDialog.vue";
export default {
  components: {
    ConflictRevDialog
  },
  props: {
    revProd: {
      required: true
    },
    prodWinner: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      contDiff: 0,
      product: {},
      dialog: false,
      show: true
    };
  },
  computed: {
    image() {
      if (this.images !== undefined) {
        return this.$URL.createObjectURL(this.images[0].data);
      }
      return undefined;
    },
    productId() {
      if (this.product._id) {
        return this.product._id.substring(0, this.product._id.indexOf("-"));
      }
      return "";
    },
    images() {
      let attachments = this.product._attachments;
      let array = undefined;
      if (attachments !== undefined) {
        array = Object.keys(attachments).map(value => {
          return { name: value, ...attachments[value] };
        });
      }
      return array;
    }
  },
  methods: {
    Aceptado(prodWinner) {
      this.show = false;
      this.CloseDialog;
      this.$emit("rev-checked", prodWinner);
    },
    CloseDialog() {
      this.dialog = false;
    }
  },

  mounted() {
    this.$pouch
      .get(
        this.prodWinner._id,
        { rev: this.revProd, attachments: true, binary: true },
        "productos"
      )
      .then(result => {
        console.log(
          "========================Success query============================="
        );
        this.product = result;
        console.log(result);
        if (this.product.nombre != this.prodWinner.nombre) {
          this.contDiff += 1;
        }
        if (this.product.precio != this.prodWinner.precio) {
          this.contDiff += 1;
        }
        if (this.product.descripcion != this.prodWinner.descripcion) {
          this.contDiff += 1;
        }
      })
      .catch(error => {
        console.log(
          "===============================Erorr Query=========================="
        );
        console.log(error);
      });
  }
};
</script>
<style scoped>
.backgroundCard {
  background-color: #e5e5e5;
}
.name {
  color: #56674a;
}
.price {
  color: #a1a18b;
}
</style>
