<template>
  <v-app>
    <Layout>
      <router-view></router-view>
    </Layout>
  </v-app>
</template>

<script>
import Layout from "./components/Layout";
export default {
  name: "App",
  components: { Layout },
  data() {
    return {
      connected: undefined,
      synced: undefined
    };
  },
  async mounted() {
    this.connected = this.$pouch.connect(
      "admin",
      "Mexico+1!",
      "https://db.keycode.solutions:6984/productos"
    );
    // Send all documents to the remote database, and stream changes in real-time. Note if you use filters you need to set them correctly for pouchdb and couchdb. You can set them for each direction separatly: options.push/options.pull. PouchDB might not need the same filter to push documents as couchdb to send the filtered requested documents.
    this.synced = this.$pouch.sync(
      "productos",
      "https://db.keycode.solutions:6984/productos"
    );
  }
};
</script>
